<!DOCTYPE html>
<html>
  <header th:replace="fragments/head.html :: head"></header>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <header th:replace="fragments/header.html :: header"></header>
      <main class="mdl-layout__content">
        <div id="mainBody" class="page-content list-pets">
          <div class="page-content-header">
            <h3>Pets</h3>
          </div>
          <div class="data-table fullWidth">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp fullWidth">
              <tr>
                <th width="10%" style="text-align: center;">
                  Id
                </th>
                <th width="80%" class="mdl-data-table__cell--non-numeric">
                  Name
                </th>
                <th width="10%" class="mdl-data-table__cell--non-numeric">
                  Gender
                </th>
              </tr>
              <tr data-th-each="pet : ${pets}">
                <td style="text-align: center;">
                  <a data-th-href="@{/pets/{id}(id=${pet.id})}" data-th-text="${pet.id}">...</a>
                </td>
                <td data-th-text="${pet.name}" class="mdl-data-table__cell--non-numeric">...</td>
                <td data-th-text="${pet.gender}" class="mdl-data-table__cell--non-numeric">...</td>
              </tr>
            </table>
          </div>
        </div>
      </main>
    </div>
    <div id="snack-deleted" class="mdl-js-snackbar mdl-snackbar" data-th-if="${deleted}">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <script>
      r(function() {
        'use strict';

        var snackbarContainer = document.querySelector('#snack-deleted');

        snackbarContainer.style.backgroundColor = 'rgb(66, 184, 221)';

        var data = {
          message: 'Deleted Successfully',
          timeout: 9000
        };
        snackbarContainer.MaterialSnackbar.showSnackbar(data);
      });

      function r(f) {
        /in/.test(document.readyState) ? setTimeout('r(' + f + ')', 9) : f();
      }
    </script>
  </body>
</html>
