<!DOCTYPE html>
<html>
  <head data-th-fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>Team 3</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/pure.css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-extend.min.css" />
    <link rel="stylesheet" href="/css/site.css" />

    <!-- Plugins -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css" ></link>
    <link rel="stylesheet" href="/vendor/asscrollable/asScrollable.css" />
    <link rel="stylesheet" href="/vendor/switchery/switchery.css" />
    <link rel="stylesheet" href="/vendor/intro-js/introjs.css" />
    <link rel="stylesheet" href="/vendor/slidepanel/slidePanel.css" />
    <link rel="stylesheet" href="/vendor/flag-icon-css/flag-icon.css" />
    <link rel="stylesheet" href="/vendor/waves/waves.css" />
    <link rel="stylesheet" href="/vendor/fullcalendar/fullcalendar.css" />
    <link
      rel="stylesheet"
      href="/vendor/bootstrap-datepicker/bootstrap-datepicker.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/bootstrap-touchspin/bootstrap-touchspin.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/jquery-selective/jquery-selective.css"
    />
    <link rel="stylesheet" href="/css/calendar.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="/fonts/material-design/material-design.min.css"
    />
    <link rel="stylesheet" href="/fonts/brand-icons/brand-icons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic"
    />

    <!-- Scripts -->
    <script src="/js/material/material.js"></script>

    <script src="/vendor/breakpoints/breakpoints.js"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body></body>
</html>
