<!DOCTYPE HTML>
<html>
<head data-th-fragment="head">
	<link rel="stylesheet" href="/css/pure.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/material/material.css" />
	<script src="/js/material/material.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title>Dell Veterinary Hospital - Team 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
</body>
</html>
