<!DOCTYPE html>
<html>
  <header th:replace="fragments/head.html :: head"></header>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
      <header th:replace="fragments/header.html :: header"></header>
      <main class="mdl-layout__content">
        <div id="mainBody" class="page-content home">
          <div class="text">
            <h5>Welcome to the spring app tutorial</h5>

            From this app, you should be able to:
            <ul>
              <li>Add client and edit their info</li>
              <li>Add pets for a client</li>
              <li>Update a client's or a pet's info</li>
            </ul>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
